<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}base | {% endblock title %}</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <style>
        .errorlist {
            color: red;
        }
    </style>
</head>
<body>
<ul>
    <li><a href="/admin">admin</a></li>
    <li><a href="{% url 'index' %}">index</a></li>
    {% if not user.is_authenticated %}
        <li><a href="{% url 'register' %}">sign-up</a></li>
        <li><a href="{% url 'login' %}">sign-in</a></li>
    {% else %}
        <li>{{ user }} | type: {{ user.get_type_display }}</li>
        <li><a href="{% url 'logout' %}">logout</a></li>
    {% endif %}
</ul>
{% include 'messages.html' %}
{% block content %}
{% endblock %}
</body>
</html>